
<h1 class="top" align="center">Title: <%= @article.title %></h1>

<div class="top toLeft col-md-10 col-offset-md-2">
  <div class="card text-center">
    <div class="card-header">
      <strong>Description:</strong>
    </div>
    <div class="card-body">
      <div class="card-text"><%= simple_format(@article.description) %></div>
      <hr>
      <a><%= link_to 'Edit Article', edit_article_path(@article), class:"btn btn-secondary btn-sm", role:"button" %></a>
      <a><%= link_to 'Delete Article', article_path(@article), class:"btn btn-danger btn-sm", role:"button", method: :delete, data: {confirm: "Are you sure ?"} %></a>
      <a><%= link_to 'Back to Articles', articles_path, class:"btn btn-primary btn-sm", role:"button" %></a>
    </div>
    <div class="card-footer text-muted">
     Created at:
      <%= @article.created_at %>
    </div>
  </div>
</div>    

      