
<h1 class="top" align="center">Title: <%= @article.title %></h1>

<div class="top toLeft col-md-10 col-offset-md-2">
  <div class="card text-center">
    <div class="card-header">
    <% if @article.user %>
      <p><strong>Created By:</strong></p>    
      <img class="card-img-top" src="" alt="Card image cap">        
      <h4 class="card-title"><%= link_to @article.user.username, user_path(@article.user) %></h4>
      <p class="card-text"><%= pluralize(@article.user.articles.count, "Article") %></p>
    <% end %>  
      <strong>Description:</strong>
    </div>
    <div class="card-body">
      <div class="card-text"><%= simple_format(@article.description) %></div>
      <hr>
      <a><%= link_to 'Edit Article', edit_article_path(@article), class:"btn btn-secondary btn-sm", role:"button" %></a>
      <a><%= link_to 'Delete Article', article_path(@article), class:"btn btn-danger btn-sm", role:"button", method: :delete, data: {confirm: "Are you sure ?"} %></a>
      <a><%= link_to 'Back to Articles', articles_path, class:"btn btn-primary btn-sm", role:"button" %></a>
    </div>
    <div class="card-footer text-muted">
     Created at:
      <%= time_ago_in_words(@article.created_at) %> ago,
      last update :<%= time_ago_in_words(@article.updated_at) %> ago
    </div>
  </div>
</div>    

      