
<h1 class="top" align="center">Listing All our Users</h1>

<div class="top pagination justify-content-center">
  <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>  
 
<% @users.each do |u| %>
  <div class="row top justify-content-md-center">
    <div class="col-8">
      <div class="list-group" role="tablist">
        <li class="list-group-item">
          <div class="card border-secondary mb-3 text-center">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= link_to u.username, user_path(u)%></h4>
              <p class="card-text"><%= pluralize(u.articles.count, "Article") if u.articles%></p>
              <% if logged_in? and current_user.admin? %>
                <%= link_to 'Delete User', user_path(u), method: :delete, data: {confirm: "Are you sure ?"}, class:"btn btn-danger" %>
              <% end %>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
        </li>
      </div>
    </div>  
  </div>  
<% end %>

<div class="top pagination justify-content-center">
  <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>  